/* RESET básico */
header {
  margin: 0;
  padding: 15px;
  font-family: Arial, sans-serif;
  background: #eb72ef;
  justify-content:center;
  align-items:center;
  text-align:center;
  border-radius:7%;
  
   
}

body {
  margin: 0;
  padding: 15px;
  font-family: Arial, sans-serif;
  background: #bcb8b8;
  justify-content:center;
  align-items:center;
  text-align:center;
  
   
}

/* títulos */
h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

/* containers */
.objetivo,
.tipo_tatuagem,
.estilo,
div {
  margin-bottom: 20px;
}

/* inputs */
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

/* textarea */
textarea {
  min-height: 100px;
  resize: vertical;
}

/* botão */
button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin:auto;
}

button:hover {
  background: #333;
}

/* MODAL */
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

#modal .box {
  background: white;
  padding: 20px;
  margin: 20% auto;
  width: 90%;
  border-radius: 10px;
  max-height: 70vh;
  overflow-y: auto;
}

/* texto do modal */
#conteudoResposta {
  white-space: pre-line;
  font-size: 14px;
  line-height: 1.5;
}

/* botão fechar */
#modal button {
  width: auto;
  background: red;
  margin-bottom: 10px;
}



@media (min-width: 768px) {

  body {
    padding: 30px;
  }

  /* centraliza layout */
  body > div {
    max-width: 700px;
    margin: auto;
  }

  button {
    width: auto;
    padding: 12px 25px;
  }

  #modal .box {
    width: 60%;
    margin: 10% auto;
  }

  h2 {
    font-size: 20px;
  }
}